*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;  
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


/* NAVBAR ########################################## */

nav{
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E2E2E1;
    height:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;

}

.nav-left-section{
    display: flex;
    padding-left: 1rem;
    font-size: 1.4rem;
    align-items: center;
    list-style: none;
}
.nav-left-section li{
    padding: 0 6px;
    display: flex;
    align-items: center;
}
.nav-right-section {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    margin-right: 1rem;
}
.nav-right-section > li{
    margin: 0 1rem;
}
.size{
    display: flex;
    font-size: 1rem;
    width: 6rem;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}



/* MAIN  ############################### */
main{
    display: flex;
    width: 100%;
    height: 93vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar{
    border-left: 2px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 5rem;
}
.sidebar-top-section{
    display: flex;
    flex-direction: column;
    
}
.sidebar-top-section img{
    height: 30px;
    width: 30px;
    margin: 1rem;
}



.calender-container{
    margin-top: 3rem;
    background-color: #E2E2E1;
    padding: 4rem 13rem;
}
.calender{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px #A19998;
    display: flex;
    flex-direction: column;
}
.cal-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2rem;
}
.cal-body-l-sec{
    width: 14rem;
    padding: .1rem;
    margin: .1rem;
}
.select-timezone{
    font-size: .7rem;
    margin-top: 1rem;
}
.select-timezone select, .select-slot select{
    color: #7a6060;
    font-size: .66rem;
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    width: 12rem;
    padding: .5rem 2rem .5rem .5rem;
    margin: .2rem 1rem .2rem .2rem;
    border-radius: 16px;
}
.select-slot{
    font-size: .7rem;
    padding: 1rem 0;
}
.select-slot p, .select-timezone p{
    color: #7a6060;
    padding: .3rem;
}


.cal{
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    color: black;
    margin-top: 3rem;
}
.cal-heading{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #D4D4D2;
    color: #5B5F6B;
}
.cal-month-row{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cal-angles{
    display: flex;
}
.cal-angles > div{
    padding-left:  1.4rem;
    padding-right: .2rem;
}
.cal-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);    
    border-bottom: 1px solid #E5E5E5;
    color:#6E6E6E;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: .2rem 0 .4rem 0;
    margin: .8rem 0;
}

.cal-row{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-content: center;
}
.cal-row div{
    padding: .65rem;
}

.categeory{
    margin-top: 3rem;
    font-size: .7rem;
    color: #6E6E6E;
}
.categeory > div{
    display: flex;
    align-items: center ;
}
.cat{
    margin: .8rem;
}
.color{
    height: 1rem;
    width: 1rem;
    border-radius: 25px;
}
.c1{
    background-color: #0F738E;
}
.c2{
    background-color: #9D4821;
}
.c3{
    background-color: #A19998;
}




.cal-body-r-sec{
    display: flex;
    margin: 0 3rem 0 1rem;
    flex-direction: column;
    width: 55rem;
    color: #6D6E75;
}
.cal-body-r-sec-dates{
    border-bottom: 1px solid #7C7C7C;
    height: 4rem;
    width: 100%;
    align-items: center;
    display: flex;
}
.cal-body-r-sec-dates span{
    background-color: #FAFAFA;
    box-shadow: 2px 2px 8px #cec8c8;
    padding: 0 .5rem;
    border-radius: 25px;
}
.cal-body-r-sec-dates span:nth-child(1){
    margin-left: 2.2rem;

}
.cal-body-r-sec-dates span img{
    color: #EC9323;
}


.cal-body-r-sec-dates > div{
    display: flex;
    width: 100%;
}
.cal-body-r-sec-dates > div >div{
    font-size: .8rem;
    margin: 0 .18rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cal-body-r-sec-dates > div >div:last-child{
    width: 0;
    padding-left: 4rem;
}

.cal-body-r-sec-dates > div > div > div{
    padding: .2rem 0;
}



.cal-body-r-sec-container{
    display: flex;

}
.cal-body-r-sec-container-time{
    width: 4rem;
    border-right: 1px solid #7C7C7C;
    font-size: .6rem;
    text-align: center;
}

.cal-body-r-sec-container-time  div {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: .3rem;
    padding-right: .5rem;
}


.cal-body-r-sec-container-content > table {
    border-collapse: collapse;
}
.cal-body-r-sec-container-content  td{
    border: 1px solid #E1E1E1;
    font-size: .6rem;
    text-align: center;
    height: 3rem;
    width: 9rem;

}
.cal-body-r-sec-container-content table  td  div{
    display: flex;  
    margin-left: 1rem;
}   

.cal-buttons{
    display: flex;
    justify-content: right;
    margin: 1rem 0;
}
.cal-buttons > div{
    height: 2rem;
    width: 6rem;
    padding: 1rem;
    margin-left:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    font-size: .7rem;
}
.cal-buttons > div{
    border: 1px solid #949494;
}
.cal-buttons >div:nth-child(2){
    background-color: #EC9323;
    color: white;
}

.calender-navigation{
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    color: #707070;
    margin-top: 2rem;
}
.calender-navigation p{
    padding: 1rem;
}
.calender-navigation img{
    padding: 0 .5rem;
}


/* ################################## */
.current-day{
    border-radius: 25px;
    background-color: #4154B3;
    color: white;
}

.card1{
    border: 1px solid #187892;
    border-radius: 6px;
    padding: .2rem .8rem .4rem .2rem;
    margin: .8rem 0 0 0 ;
    text-align: left;
    color: #0F738E;
    background-color: #18789218;
}
.card2{
    border: 1px solid #AB6341;
    border-radius: 6px;
    padding: .2rem .8rem .4rem .2rem;
    margin: .8rem 0 0 0 ;
    text-align: left;
    color: #9E4821;
    background-color: #9e492115;;
}

.card1-pt{
    border: 1px solid #187892;
    border-radius: 6px;
    text-align: left;
    padding: .4rem 1rem 1rem .4rem;
    color: #0F738E;
    background-color: #18789218;
    display: inline-block;
}
.card2-pt{
    border: 1px solid #AB6341;
    border-radius: 6px;
    padding: .4rem 1rem 1rem .4rem;
    text-align: left;
    color: #9E4821;
    background-color: #9e492115;
}